
<div class="row  myPadding">
	<h2 class="col-md-6 col-md-offset-3">Author Details</h4>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-2 myBorder myPadding">
<div class="row" class="myBorder myPadding">

		<div class="col-md-4">
			Image
		</div>
		<div class="col-md-8">
			<div class="row">
			<div class="col-md-4">Author Name : </div>
			<div class="col-md-8">{{author.name}}</div>
			</div>
			
			<div class="row">
			<div class="col-md-4">Email Id : </div>
			<div class="col-md-8">{{author.email}}</div>
			</div>
			
			<div class="row">
			<div class="col-md-4">Skills : </div>
			<div class="col-md-8">{{author.skills | formatArray}}</div>
			</div>
			<a href="#editAuthor/{{author}}" class="btn btn-primary">Edit</a>
		</div>
	
	
	
	
</div>

</div>
</div>